.mockdisplay{
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw 1vh;
}
.loading{
    height: 80%;
    width: 80%;
}
.searchbar{
    height: 100px;
    width: 400px;

}
