.profile{
    margin-top:  12vh;
    background-color: rgb(61, 61, 61);
    color:aliceblue;
    overflow-y: hidden;

}
body{
    overflow-y: hidden;
}


@media only screen and (max-width: 950px),
screen and (max-height: 1200px ) 
{
    .profile{
        margin-top:  24vh;
        background-color: rgb(61, 61, 61);
        color:aliceblue;
        overflow-y: hidden;
    }
  
}