header{
    background-color: rgb(210, 161, 12);
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
}
.title{
    display: flex;
    justify-content: center;
}
.navlinks{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;

}

    



@media only screen and (max-width: 950px) {
    header{
        background-color: rgb(210, 161, 12);
        height: 24vh;
        width: 100vw;
        position: fixed;
        top: 0;
        
    }
    .title{
        display: flex;
        justify-content: center;
    }
    .navlinks{
        display: flex;
        width: 100vw;
        align-items: space-between;
        justify-content: space-between;
        box-sizing: border-box;
        
    }
    

}