*{
  box-sizing: border-box;
 
}
.App {
  text-align: center;
}
html,body{
  overflow-x: hidden;
  /* font-family: "Shippori Antique B1" */
  
}
/* @import url('https://fonts.googleapis.com/css?family=Shippori+Antique+B1'); */